<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fortalsistemas.comunicationapps">
    <uses-permission android:name="com.fortalsistemas.launcher.provider.permission.READ_PROVIDER"
        />
    <uses-permission android:name="com.fortalsistemas.launcher.provider.permission.WRITE_PROVIDER"
        />
    <permission android:name="com.fortalsistemas.launcher.provider.permission.READ_PROVIDER"
        android:protectionLevel="signature"
        />
    <permission android:name="com.fortalsistemas.launcher.provider.permission.WRITE_PROVIDER"
        android:protectionLevel="signature"
        />
</manifest>
